<ngx-json-contextmenu menuClass="my-custom-style" [menuItemTemplate]="mymenuItemTemplate"></ngx-json-contextmenu>
<ng-template let-menuItem #mymenuItemTemplate>
  <div [style]="{display:'inline-block'}" [title]="menuItem.title">
    <div [style]="{margin:'0px 4px 0px 2px', display:'inline-block'}">😊</div>
    <div [style]="{display:'inline-block'}">
      {{menuItem.label}}
    </div>
  </div>
  <input *ngIf="menuItem.checkbox" type="checkbox" [checked]="menuItem.checkbox.value" (checked)="menuItem.action && menuItem.action()" [disabled]="menuItem.disabled">
</ng-template>

<h1>Click on the buttons</h1>

<button (click)="test1($event)">Click me</button>
<button (contextmenu)="test1($event)">Right Click me</button>
